<div class="modal details" id="idDetails">
  <div class="modal__container containerModal">
    <div class="modal__body">
      <div class="details__wrapp">
        <div class="splide">
          <div class="splide__track">
            <ul class="splide__list"></ul>
          </div>
        </div>

        <div class="arrows">
          <div class="arrows__body">
            <button
              type="button"
              class="arrows__prev"
              aria-label="Arrows prev"
            ></button>
            <button
              type="button"
              class="arrows__next"
              aria-label="Arrows next"
            ></button>
          </div>
        </div>

        <button type="button" class="btn-def closeModal">Закрити</button>
      </div>
    </div>
  </div>
</div>
