<div class="modal sent" id="idSent">
  <div class="modal__container containerModal">
    <div class="modal__body">
      <button
        type="button"
        class="modal__close closeModal"
        aria-label="Close modal window"
      ></button>
      <!-- <button type="button" class="btn-def openModal" data-id="idSent">
        button
      </button> -->

      <div class="sent__wrapp">
        <h2 class="sent__tl">Ваше питання успішно надіслано</h2>
        <div class="txt-def rce">
          <p>
            Питання успішно надіслано. Ми зв'яжемося з вами електронною поштою
            або за номером телефону для подальших кроків. Очікуйте, будь ласка.
          </p>
        </div>

        <button type="button" class="btn-def closeModal">Закрити</button>
      </div>
    </div>
  </div>
</div>
