@font-face {
  font-family: "Mont";
  src:
    url("../../fonts/Regular/Mont-Regular.eot") format("eot"),
    url("../../fonts/Regular/Mont-Regular.woff2") format("woff2"),
    url("../../fonts/Regular/Mont-Regular.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Mont";
  src:
    url("../../fonts/SemiBold/Mont-SemiBold.eot") format("eot"),
    url("../../fonts/SemiBold/Mont-SemiBold.woff2") format("woff2"),
    url("../../fonts/SemiBold/Mont-SemiBold.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Mont";
  src:
    url("../../fonts/Bold/Mont-Bold.eot") format("eot"),
    url("../../fonts/Bold/Mont-Bold.woff2") format("woff2"),
    url("../../fonts/Bold/Mont-Bold.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
