<div class="breadcrumbs">
  <div class="breadcrumbs__container wide">
    <ul>
      <li><a href="./index.html">Головна</a></li>
      <li><span>Політика конфіденційності</span></li>
    </ul>
  </div>
</div>

<section class="policy pd1">
  <div class="policy__container">
    <div class="heading">
      <h1 class="tl1">Політика конфіденційності</h1>
    </div>

    <div class="embeded">
      <h2>1. Загальні положення</h2>
      <p>
        Конфіденційність користувачів нашого веб-сайту має велике значення для
        нас, і ми докладаємо всіх зусиль для забезпечення її захисту. Дані
        правила пояснюють, як ми використовуємо вашу персональну інформацію.
      </p>
      <p>
        Політика складена відповідно до ст. 6, 8, 10, 11 Закону України «Про
        захист персональних даних» та визначає порядок обробки персональних
        даних та заходи по забезпеченню безпеки персональних даних , що
        вживаються Олексишином Олексієм Осиповичем (далі – Оператор).
      </p>
      <p>
        Сайт – сукупність графічних і інформаційних матеріалів , а також програм
        для ЕОМ і баз даних , що забезпечують їх доступність в мережі інтернет
        за адресою
        <a
          href="https://gynecology.com.ua"
          target="_blank"
          rel="noopener noreferrer"
        >
          https://gynecology.com.ua
        </a>
      </p>
      <p>
        Ця Політика конфіденційності та захисту персональних даних (далі –
        “Політика”) пояснює, як Оператор збирає, використовує, передає, зберігає
        персональні дані, які ми автоматично отримуємо, коли ви використовуєте
        Сайт, або які можуть бути безпосередньо надані нам вами за допомогою
        Сайту.
      </p>
      <p>
        Персональні дані – це відомості чи сукупність відомостей про фізичну
        особу, яка ідентифікована або може бути конкретно ідентифікована.
      </p>
      <p>
        Погоджуючись із використанням файлів-cookie при першому відвіданні
        нашого веб-сайту, відповідно до положень Політики, ви надаєте нам дозвіл
        на використання файлів-cookie при кожному вашому наступному візиті.
      </p>
      <p>
        Відвідуючи Сайт, ви приймаєте нашу Політику та дозволяєте Оператору
        збирати, використовувати і розкривати інформацію про вас відповідно до
        цілей, що вказані нижче. Якщо ви відвідуєте даний Сайт, то ви
        автоматично погоджуєтесь з даною Політикою та її умовами. Якщо ви не
        погоджуєтесь з даною Політикою та її умовами, то ви маєте залишити цей
        Сайт.
      </p>
      Цим ви також надаєте згоду на обробку своїх персональних даних та
      підтверджуєте, що є повідомлені про порядок та мету, а також інші умови.
      Користувач – будь-який відвідувач веб сайту
      <a
        href="https://gynecology.com.ua"
        target="_blank"
        rel="noopener noreferrer"
      >
        https://gynecology.com.ua
      </a>
      <h2>2. Оператор може обробляти такі персональні дані Користувача</h2>
      <p>
        Прізвище , ім’я , по батькові;<br />
        Номери телефонів;<br />
        Також на сайті відбувається збір і обробка знеособлених даних про
        відвідувачів (в т.ч . Файлів «cookie») з допомогою сервісів збору
        інтернет-статистики (Google Analytics, Facebook Business та інших).<br />
        Перераховані вище дані далі по тексту Політики об’єднані загальним
        поняттям Персональні дані.
      </p>
      <h2>3. Цілі обробки персональних даних</h2>
      <ul>
        <li>
          Мета обробки персональних даних Користувача – надання безкоштовної
          консультації в межах діяльності Оператора та уточнення деталей
          замовлення та співпраці.
        </li>
        <li>
          Також Оператор має право направляти Користувачеві повідомлення про
          нові продукти і послуги, спеціальні пропозиції і різні події.
          Користувач завжди може відмовитися від отримання інформаційних
          повідомлень, направивши Оператору лист на адресу електронної пошти
          <a href="mailto:medvedev.mv@gmail.com">medvedev.mv@gmail.com</a> з
          позначкою «Відмова від повідомлень про нові продукти та послуги і
          спеціальні пропозиції».
        </li>
        <li>
          Знеособлені дані користувачів, що збираються з допомогою сервісів
          інтернет-статистики, служать для збору інформації про дії користувачів
          на сайті, поліпшення якості сайту та його змісту.
        </li>
      </ul>
      <h2>4. Права суб’єкта персональних даних</h2>
      <ol>
        <li>
          Мета обробки персональних даних Користувача – надання безкоштовної
          консультації в межах діяльності Оператора та уточнення деталей
          замовлення та співпраці.
        </li>
        <li>
          Також Оператор має право направляти Користувачеві повідомлення про
          нові продукти і послуги, спеціальні пропозиції і різні події.
          Користувач завжди може відмовитися від отримання інформаційних
          повідомлень, направивши Оператору лист на адресу електронної пошти
          <a href="mailto:medvedev.mv@gmail.com">medvedev.mv@gmail.com</a> з
          позначкою «Відмова від повідомлень про нові продукти та послуги і
          спеціальні пропозиції».
        </li>
        <li>
          Знеособлені дані користувачів, що збираються з допомогою сервісів
          інтернет-статистики, служать для збору інформації про дії користувачів
          на сайті, поліпшення якості сайту та його змісту.
        </li>
      </ol>
    </div>
  </div>
</section>
