<div class="breadcrumbs">
  <div class="breadcrumbs__container wide">
    <ul>
      <li><a href="./index.html">Головна</a></li>
      <li><span>Новини</span></li>
    </ul>
  </div>
</div>

<section class="news pd1">
  <div class="news__container">
    <div class="heading">
      <h1 class="tl1">Актуальні події та новини від доктора Медведєва</h1>
    </div>

    <div class="news__radios">
      <div
        class="facetwp-facet facetwp-facet-catnews facetwp-type-radio"
        data-name=""
        data-type="radio"
      >
        <div class="facetwp-radio checked" data-value="">Все</div>
        <div class="facetwp-radio" data-value="">
          <span class="facetwp-display-value">подія</span>
          <span class="facetwp-counter">(20)</span>
        </div>
        <div class="facetwp-radio" data-value="">
          <span class="facetwp-display-value">навчання</span>
          <span class="facetwp-counter">(20)</span>
        </div>
        <div class="facetwp-radio" data-value="">
          <span class="facetwp-display-value">робота</span>
          <span class="facetwp-counter">(19)</span>
        </div>
        <div class="facetwp-radio" data-value="">
          <span class="facetwp-display-value">клініка</span>
          <span class="facetwp-counter">(13)</span>
        </div>
        <div class="facetwp-radio" data-value="">
          <span class="facetwp-display-value">подорож</span>
          <span class="facetwp-counter">(13)</span>
        </div>
        <div class="facetwp-radio" data-value="">
          <span class="facetwp-display-value">відпочинок</span>
          <span class="facetwp-counter">(13)</span>
        </div>
        <div class="facetwp-radio" data-value="">
          <span class="facetwp-display-value">майстер-клас</span>
          <span class="facetwp-counter">(13)</span>
        </div>
        <div class="facetwp-radio" data-value="">
          <span class="facetwp-display-value">хобі</span>
          <span class="facetwp-counter">(13)</span>
        </div>
        <div class="facetwp-radio" data-value="">
          <span class="facetwp-display-value">операція</span>
          <span class="facetwp-counter">(13)</span>
        </div>
      </div>
    </div>

    <ul class="news__cards">
      <li class="card-news">
        <div class="card-news__img ibg">
          <img src="./img/content/hero_1.jpg" alt="" />
          <ul class="card-news__type">
            <li>навчання</li>
          </ul>
        </div>

        <a href="./event.html" class="tl3">
          Участь у міжнародній конференції з репродуктивної медицини
        </a>

        <div class="txt-def rce">
          <p>
            Професор Михайло Медведєв презентував свою нову книгу, присвячену
            сучасним методам лікування лейоміоми матки.
          </p>
        </div>

        <a href="./event.html" class="link-def">Читати далі</a>
      </li>
      <li class="card-news">
        <div class="card-news__img ibg">
          <img src="./img/content/hero_1.jpg" alt="" />
          <ul class="card-news__type">
            <li>навчання</li>
          </ul>
        </div>

        <a href="./event.html" class="tl3">
          Участь у міжнародній конференції з репродуктивної медицини
        </a>

        <div class="txt-def rce">
          <p>
            Професор Михайло Медведєв презентував свою нову книгу, присвячену
            сучасним методам лікування лейоміоми матки.
          </p>
        </div>

        <a href="./event.html" class="link-def">Читати далі</a>
      </li>
      <li class="card-news">
        <div class="card-news__img ibg">
          <img src="./img/content/hero_1.jpg" alt="" />
          <ul class="card-news__type">
            <li>навчання</li>
          </ul>
        </div>

        <a href="./event.html" class="tl3">
          Участь у міжнародній конференції з репродуктивної медицини
        </a>

        <div class="txt-def rce">
          <p>
            Професор Михайло Медведєв презентував свою нову книгу, присвячену
            сучасним методам лікування лейоміоми матки.
          </p>
        </div>

        <a href="./event.html" class="link-def">Читати далі</a>
      </li>
      <li class="card-news">
        <div class="card-news__img ibg">
          <img src="./img/content/hero_1.jpg" alt="" />
          <ul class="card-news__type">
            <li>навчання</li>
          </ul>
        </div>

        <a href="./event.html" class="tl3">
          Участь у міжнародній конференції з репродуктивної медицини
        </a>

        <div class="txt-def rce">
          <p>
            Професор Михайло Медведєв презентував свою нову книгу, присвячену
            сучасним методам лікування лейоміоми матки.
          </p>
        </div>

        <a href="./event.html" class="link-def">Читати далі</a>
      </li>
      <li class="card-news">
        <div class="card-news__img ibg">
          <img src="./img/content/hero_1.jpg" alt="" />
          <ul class="card-news__type">
            <li>навчання</li>
          </ul>
        </div>

        <a href="./event.html" class="tl3">
          Участь у міжнародній конференції з репродуктивної медицини
        </a>

        <div class="txt-def rce">
          <p>
            Професор Михайло Медведєв презентував свою нову книгу, присвячену
            сучасним методам лікування лейоміоми матки.
          </p>
        </div>

        <a href="./event.html" class="link-def">Читати далі</a>
      </li>
      <li class="card-news">
        <div class="card-news__img ibg">
          <img src="./img/content/hero_1.jpg" alt="" />
          <ul class="card-news__type">
            <li>навчання</li>
          </ul>
        </div>

        <a href="./event.html" class="tl3">
          Участь у міжнародній конференції з репродуктивної медицини
        </a>

        <div class="txt-def rce">
          <p>
            Професор Михайло Медведєв презентував свою нову книгу, присвячену
            сучасним методам лікування лейоміоми матки.
          </p>
        </div>

        <a href="./event.html" class="link-def">Читати далі</a>
      </li>
    </ul>

    <div class="pagination__wrapp">
      <div
        class="facetwp-facet facetwp-facet-pagination facetwp-type-pager"
        data-name="pagination"
        data-type="pager"
      >
        <div class="facetwp-pager">
          <a class="facetwp-page first active" data-page="1">1</a>
          <a class="facetwp-page" data-page="2">2</a>
          <a class="facetwp-page" data-page="3">3</a>
          <a class="facetwp-page" data-page="4">4</a>
          <a class="facetwp-page" data-page="5">5</a>
          <a class="facetwp-page dots">…</a>
          <a class="facetwp-page last" data-page="11">11</a>
        </div>
      </div>
    </div>
  </div>
</section>
