<section class="confern secwrapp">
  <div class="confern__container">
    <div class="confern__body">
      <h2 class="tl1">Участь у наукових конференціях та заходах</h2>

      <div class="confern__content">
        <div class="confern__map no-select">
          <img src="./img/content/conf_map.svg" alt="" />
        </div>

        <div class="confern__splide">
          <div class="splide">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide">
                  <h3 class="confern__name">2015 – Флоренція, Італія</h3>
                  <div class="txt-def">
                    <p>
                      Майстер-клас "Сучасні підходи до хірургічного лікування
                      генітальних пролапсів"
                    </p>
                  </div>
                </li>
                <li class="splide__slide">
                  <h3 class="confern__name">2016 – Флоренція, Італія</h3>
                  <div class="txt-def">
                    <p>
                      Майстер-клас "Сучасні підходи до хірургічного лікування
                      генітальних пролапсів"
                    </p>
                  </div>
                </li>
                <li class="splide__slide">
                  <h3 class="confern__name">2017 – Флоренція, Італія</h3>
                  <div class="txt-def">
                    <p>
                      Майстер-клас "Сучасні підходи до хірургічного лікування
                      генітальних пролапсів"
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="arrows">
            <div class="arrows__body">
              <button
                type="button"
                class="arrows__prev"
                aria-label="Arrows prev"
              ></button>
              <button
                type="button"
                class="arrows__next"
                aria-label="Arrows next"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
