<section class="direct secwrapp bg-cf">
  <div class="direct__container">
    <div class="heading">
      <h2 class="tl1 cw">Основні наукові напрями</h2>
    </div>

    <ul class="covers__cards">
      <li class="card-activ bg-rch">
        <h3 class="tl2 cw">Інноваційні методи лікування</h3>
        <div class="txt-def">
          <p>
            Інноваційні методи включають використання генної терапії,
            персоналізованої медицини, імунотерапії, штучного інтелекту у
            діагностиці та лікуванні, а також застосування новітніх
            біотехнологій, таких як 3D-друк тканин і органів
          </p>
        </div>
      </li>
      <li class="card-activ bg-rch">
        <h3 class="tl2 cw">Доказова медицина</h3>
        <div class="txt-def">
          <p>
            Це підхід до медичної практики, який базується на найкращих
            доступних наукових даних та клінічних дослідженнях. Доказова
            медицина допомагає лікарям приймати обґрунтовані рішення, знижує
            ризик помилок і підвищує ефективність лікування
          </p>
        </div>
      </li>
      <li class="card-activ bg-rch">
        <h3 class="tl2 cw">Впровадження терапевтичних рішень</h3>
        <div class="txt-def">
          <p>
            Це включає створення інноваційних фармакологічних препаратів,
            впровадження мінімально інвазивних хірургічних методик, розширення
            можливостей регенеративної медицини та індивідуалізацію лікування
          </p>
        </div>
      </li>
      <li class="card-activ bg-rch">
        <h3 class="tl2 cw">Аналіз різних методів лікування</h3>
        <div class="txt-def">
          <p>
            Вона ґрунтується на клінічних дослідженнях, статистичному аналізі
            результатів лікування та порівнянні різних методів за показниками
            безпеки, ефективності та довгострокових результатів
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
