<section class="platforms secwrapp bg-ce">
  <div class="platforms__container">
    <div class="heading">
      <h2 class="tl1">Спеціалізовані платформи</h2>
    </div>

    <ul class="reviewer__cards">
      <li class="card-review up-size">
        <div class="card-review__img">
          <span><img src="./img/content/plat_2.png" alt="" /></span>
        </div>
        <h3 class="card-review__name">ResearchGate</h3>
      </li>
      <li class="card-review up-size">
        <div class="card-review__img">
          <span><img src="./img/content/plat_1.png" alt="" /></span>
        </div>
        <h3 class="card-review__name">Scopus Preview</h3>
      </li>
      <li class="card-review up-size">
        <div class="card-review__img">
          <span><img src="./img/content/plat_3.png" alt="" /></span>
        </div>
        <a href="#" class="card-review__name">Google Академія</a>
      </li>
      <li class="card-review up-size">
        <div class="card-review__img">
          <span><img src="./img/content/plat_4.png" alt="" /></span>
        </div>
        <a href="#" class="card-review__name">Web of Science™</a>
      </li>
      <li class="card-review up-size">
        <div class="card-review__img">
          <span><img src="./img/content/review_4.png" alt="" /></span>
        </div>
        <a href="#" class="card-review__name">ORCID</a>
      </li>
    </ul>
  </div>
</section>
