<section class="work-connect secwrapp" id="connect">
  <div class="connect__container">
    <div class="heading">
      <h2 class="tl1">Контактна інформація</h2>
    </div>

    <address class="connect__address bg-ce">
      <div class="connect__box">
        <p>Слідкуйте в соц. мережах:</p>
        <ul class="connect__soc">
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <span><img src="./img/icons/soc_2.svg" alt="" /></span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <span><img src="./img/icons/soc_3.svg" alt="" /></span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <span><img src="./img/icons/soc_4.svg" alt="" /></span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <span><img src="./img/icons/soc_5.svg" alt="" /></span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <span><img src="./img/icons/soc_6.svg" alt="" /></span>
            </a>
          </li>
        </ul>
      </div>

      <div class="connect__box connect__mess">
        <p>Пишіть в телеграм:</p>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="btn-def btn-base size-min"
        >
          Зв'язатися
        </a>
      </div>

      <div class="connect__box">
        <p>Пишіть на електронну пошту:</p>
        <div class="connect__mailto copyBox">
          <a href="mailto:medvedev.mv@gmail.com" class="copyElem">
            medvedev.mv@gmail.com
          </a>
          <button type="button" class="clipboard" data-copy="пошта скопійована">
            копіювати в буфер обміну
          </button>
        </div>
      </div>

      <div class="connect__phone">
        <p>Запис в клініку на прийом</p>
        <a href="tel:+0978882525" class="connect__tel">
          <span>
            <img src="./img/icons/tel_cw.svg" alt="" />
          </span>
          (097) 888 2525
        </a>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="btn-def size-min"
        >
          <span class="txt-desc">Перейти на сайт клініки</span>
          <span class="txt-mob">Сайт клініки</span>
        </a>
      </div>
    </address>

    <div class="connect__form">
      <h3 class="form__tl">Форма зворотнього звязку</h3>

      <form class="form submitForm" id="connectForm">
        <div class="form__box">
          <label class="label__def">
            <input
              class="input__def"
              type="text"
              name="name"
              data-required="true"
              placeholder=""
              aria-label="Ваше ім'я"
            />
            <span class="label__placehol">Ваше ім'я</span>
          </label>
          <label class="label__def">
            <input
              class="input__def"
              type="tel"
              name="phone"
              data-required="true"
              placeholder=""
              aria-label="Номер телефону"
            />
            <span class="label__placehol">Номер телефону</span>
          </label>
          <label class="label__def">
            <input
              class="input__def"
              type="email"
              name="email"
              data-required="true"
              placeholder=""
              aria-label="Ваш email"
            />
            <span class="label__placehol">Ваш email</span>
          </label>
          <label class="label__def">
            <textarea
              class="area__def"
              name="question"
              rows="3"
              placeholder=""
              aria-label="Напишіть ваше питання"
            ></textarea>
            <span class="label__placehol">Напишіть ваше питання</span>
          </label>
        </div>

        <div class="form__bottom">
          <label class="checkbox__def">
            <input type="checkbox" name="agree" data-required="true" />
            <span></span>
            <p>
              Я погоджуюсь з
              <a href="./policy.html">політикою конфіденційності</a>
            </p>
          </label>

          <button type="submit" class="btn-def bg-cw btn-base">
            <span>Відправити</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
