<div class="breadcrumbs">
  <div class="breadcrumbs__container wide">
    <ul>
      <li><a href="./index.html">Головна</a></li>
      <li><a href="./activity.html">Діяльність</a></li>
      <li><span>Наукова робота</span></li>
    </ul>
  </div>
</div>

<section class="work sechero pd1">
  <div class="work__container">
    <div class="sechero__body">
      <div class="sechero__content">
        <h1 class="tl1">Наукова робота</h1>
        <div class="txt-def rce">
          <p>
            Наукова діяльність є ключовою частиною моєї професійної роботи.
            Дослідження, які я проводжу, спрямовані на розвиток сучасної
            медицини, впровадження новітніх методик лікування та удосконалення
            медичних стандартів. У своїй роботі я використовую доказовий підхід,
            спираючись на актуальні дослідження та міжнародний досвід.
          </p>
          <p>
            Моя наукова діяльність охоплює не лише публікації в авторитетних
            медичних виданнях, але й активну участь у міжнародних конференціях,
            співпрацю з провідними науковими центрами та розробку власних
            методичних рекомендацій. Я впевнений, що медицина має постійно
            розвиватися, а нові дослідження допомагають удосконалювати підходи
            до лікування, роблячи їх більш ефективними, безпечними та доступними
            для пацієнтів.
          </p>
        </div>
      </div>

      <div class="sechero__addition">
        <ul class="sechero__list">
          <li>
            <h2>250</h2>
            <p>Наукових праць</p>
          </li>
          <li>
            <h2>10</h2>
            <p>Пантентів</p>
          </li>
          <li>
            <h2>1500</h2>
            <p>Лекцій</p>
          </li>
          <li>
            <h2>976</h2>
            <p>Конференцій</p>
          </li>
        </ul>
      </div>

      <div class="sechero__img ibg">
        <img src="./img/content/work_1.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
