<section class="work-reviewer secwrapp bg-ce">
  <div class="reviewer__container">
    <div class="heading">
      <h2 class="tl1">Член редакційної колегії та рецензент журналів</h2>
    </div>

    <ul class="reviewer__cards">
      <li class="card-review">
        <div class="card-review__img">
          <span><img src="./img/content/review_1.png" alt="" /></span>
        </div>
        <h3 class="card-review__name">
          Italian Journal of Gynæcology & Obstetrics
        </h3>
      </li>
      <li class="card-review">
        <div class="card-review__img">
          <span><img src="./img/content/review_2.png" alt="" /></span>
        </div>
        <h3 class="card-review__name">
          Frontiers in Obstetrics and Gynecological Surgery
        </h3>
      </li>
      <li class="card-review">
        <div class="card-review__img">
          <span><img src="./img/content/review_2.png" alt="" /></span>
        </div>
        <a href="#" class="card-review__name">
          Journal of Clinical Case Reports
        </a>
      </li>
      <li class="card-review">
        <div class="card-review__img">
          <span><img src="./img/content/review_3.png" alt="" /></span>
        </div>
        <a href="#" class="card-review__name">
          British Journal of Medicine and Medical Research
        </a>
      </li>
      <li class="card-review">
        <div class="card-review__img">
          <span><img src="./img/content/review_4.png" alt="" /></span>
        </div>
        <a href="#" class="card-review__name">
          BioMed Research International
        </a>
      </li>
    </ul>
  </div>
</section>
