.covers {
  .heading {
    .tl1 {
      line-height: 1.4;
      span {
        color: rgba(255, 255, 255, 0.4);
      }
    }
  }
}
.covers__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.9375rem;
}

@media screen and (max-width: 768px) {
  .covers__cards {
    gap: 1.25rem;
  }
}

@media screen and (max-width: 365px) {
  .covers {
    .heading {
      .tl1 {
        span {
          font-size: 1.125rem;
        }
      }
    }
  }
}
