<div class="breadcrumbs">
  <div class="breadcrumbs__container wide">
    <ul>
      <li><a href="./index.html">Головна</a></li>
      <li><span>Про мене</span></li>
    </ul>
  </div>
</div>

<section class="about sechero pd1">
  <div class="about__container">
    <div class="sechero__body">
      <div class="sechero__content">
        <h1 class="tl1">Детальніше про мене</h1>
        <div class="txt-def rce">
          <p>
            Акушер-гінеколог вищої категорії, доктор медичних наук, професор
            кафедри акушерства та гінекології Дніпропетровського медичного
            університету. Заслужений лікар України та автор понад 200 наукових
            праць, 11 патентів і 2 монографій.
          </p>
          <p>
            Великий досвід професійної діяльності науковця та лікаря,
            багатогранна участь у міжнародних клінічних дослідженнях та наукових
            конференціях, створення приватної клініки. У 2018 році заснував
            "Клініку доктора Медведєва", яка спеціалізується на наданні
            висококваліфікованої медичної допомоги та впровадженні передових
            технологій у гінекології.
          </p>
        </div>
      </div>

      <div class="sechero__addition">
        <ul class="sechero__list">
          <li>
            <h2>250</h2>
            <p>Наукових праць</p>
          </li>
          <li>
            <h2>2</h2>
            <p>Клініки</p>
          </li>
          <li>
            <h2>10 000</h2>
            <p>Операцій</p>
          </li>
          <li>
            <h2>300</h2>
            <p>Майстер-класів</p>
          </li>
        </ul>
      </div>

      <div class="sechero__img ibg">
        <img src="./img/content/hero_2.jpg" alt="" />
        <ul class="sechero__mark">
          <li>Медведєв Михайло Володимирович</li>
        </ul>
      </div>
    </div>
  </div>
</section>
