<section class="hobby secwrapp bg-cf">
  <div class="hobby__container">
    <div class="heading">
      <h2 class="tl1 cw">Поза роботою: хобі та натхнення</h2>
    </div>
    <div class="txt-def">
      <p>
        У вільний від наукової та лікувальної діяльності час я займаюся спортом
        – велосипедні прогулянки, плавання, активний відпочинок на природі
        допомагають підтримувати баланс, заряджатися енергією та натхненням для
        нових проєктів.
      </p>
    </div>

    <ul class="hobby__gallery">
      <li class="hobby__img ibg">
        <img src="./img/content/hobby_1.jpg" alt="" />
      </li>
      <li class="hobby__img ibg">
        <img src="./img/content/hobby_2.jpg" alt="" />
      </li>
      <li class="hobby__img ibg">
        <img src="./img/content/hobby_3.jpg" alt="" />
      </li>
      <li class="hobby__img ibg">
        <img src="./img/content/hobby_4.jpg" alt="" />
      </li>
    </ul>
  </div>
</section>
