<section class="places secwrapp">
  <div class="places__container">
    <div class="heading">
      <h2 class="tl1">Місця, де я працюю:</h2>
    </div>

    <ul class="places__cards">
      <li class="card-place bg-ce">
        <a href="#" target="_blank" rel="noopener noreferrer" class="tl2">
          Приватний медичний центр експертної гінекології "Клініка доктора
          Медведева"
        </a>
        <div class="txt-def rce">
          <p>
            Тут я займаюся діагностикою, лікуванням і профілактикою
            гінекологічних захворювань, допомагаючи жінкам зберігати здоров'я та
            якість життя.
          </p>
        </div>
        <a href="#" target="_blank" rel="noopener noreferrer" class="btn-def">
          Посилання на сайт
        </a>
      </li>

      <li class="card-place bg-ce">
        <a href="#" target="_blank" rel="noopener noreferrer" class="tl2">
          Кафедра акушерства та гінекології Дніпровського медичного університету
        </a>
        <div class="txt-def rce">
          <p>
            Місце, де я займаюся науково-педагогічною діяльністю, проводжу
            лекції, практичні заняття та передаю майбутнім лікарям сучасні
            знання й навички
          </p>
        </div>
        <a href="#" target="_blank" rel="noopener noreferrer" class="btn-def">
          Посилання на сайт
        </a>
      </li>

      <li class="card-place bg-ce">
        <a href="#" target="_blank" rel="noopener noreferrer" class="tl2">
          Платформа для лікарів KDM CME Project
        </a>
        <div class="txt-def rce">
          <p>
            Власник та координатор платформи, яка надає лікарям можливість
            підвищення кваліфікації через онлайн-курси та професійне навчання у
            галузі акушерства та гінекології.
          </p>
        </div>
        <a href="#" target="_blank" rel="noopener noreferrer" class="btn-def">
          Посилання на сайт
        </a>
      </li>

      <li class="card-place bg-ce">
        <a href="#" target="_blank" rel="noopener noreferrer" class="tl2">
          Працюю онлайн, поєднуючи наукову, навчальну та місіонерську діяльність
        </a>
        <div class="txt-def rce">
          <p>
            Активно веду YouTube-канал та інші соціальні мережі, де ділюся
            досвідом, сучасними підходами в медицині та результатами наукових
            досліджень.
          </p>
        </div>
        <a href="#" target="_blank" rel="noopener noreferrer" class="btn-def">
          Посилання на YouTube
        </a>
      </li>
    </ul>
  </div>
</section>
