<section class="skills pd2">
  <div class="skills__container">
    <div class="heading">
      <h2 class="tl1 cw">Найцікавіші моменти та навички з моєї біографії</h2>
    </div>

    <div class="skills__cards">
      <li class="card-skill" data-id="idDetails">
        <div class="card-skill__year">
          <h3 class="tl3">1998 рік</h3>
        </div>
        <div class="card-skill__info">
          <p>
            учасник<br />
            міжнародного проєкту<br />
            <a href="mailto:hysteroscopy.info">hysteroscopy.info</a>
          </p>
        </div>
      </li>

      <li class="card-skill" data-id="idDetails">
        <div class="card-skill__year">
          <h3 class="tl3">2000 рік</h3>
        </div>
        <div class="card-skill__info">
          <p>
            учасник<br />
            міжнародного проєкту<br />
            <a href="mailto:hysteroscopy.info">hysteroscopy.info</a>
          </p>
        </div>
      </li>

      <li class="card-skill" data-id="idDetails">
        <div class="card-skill__year">
          <h3 class="tl3">2001 рік</h3>
        </div>
        <div class="card-skill__info">
          <p>
            учасник<br />
            міжнародного проєкту<br />
            <a href="mailto:hysteroscopy.info">hysteroscopy.info</a>
          </p>
        </div>
      </li>

      <li class="card-skill" data-id="idDetails">
        <div class="card-skill__year">
          <h3 class="tl3">2003 рік</h3>
        </div>
        <div class="card-skill__info">
          <p>
            учасник<br />
            міжнародного проєкту<br />
            <a href="mailto:hysteroscopy.info">hysteroscopy.info</a>
          </p>
        </div>
      </li>

      <li class="card-skill" data-id="idDetails">
        <div class="card-skill__year">
          <h3 class="tl3">2006 рік</h3>
        </div>
        <div class="card-skill__info">
          <p>
            учасник<br />
            міжнародного проєкту<br />
            <a href="mailto:hysteroscopy.info">hysteroscopy.info</a>
          </p>
        </div>
      </li>

      <li class="card-skill" data-id="idDetails">
        <div class="card-skill__year">
          <h3 class="tl3">2013 рік</h3>
        </div>
        <div class="card-skill__info">
          <p>
            учасник<br />
            міжнародного проєкту<br />
            <a href="mailto:hysteroscopy.info">hysteroscopy.info</a>
          </p>
        </div>
      </li>

      <li class="card-skill" data-id="idDetails">
        <div class="card-skill__year">
          <h3 class="tl3">2014 рік</h3>
        </div>
        <div class="card-skill__info">
          <p>
            учасник<br />
            міжнародного проєкту<br />
            <a href="mailto:hysteroscopy.info">hysteroscopy.info</a>
          </p>
        </div>
      </li>

      <li class="card-skill" data-id="idDetails">
        <div class="card-skill__year">
          <h3 class="tl3">2015 рік</h3>
        </div>
        <div class="card-skill__info">
          <p>
            учасник<br />
            міжнародного проєкту<br />
            <a href="mailto:hysteroscopy.info">hysteroscopy.info</a>
          </p>
        </div>
      </li>

      <li class="card-skill" data-id="idDetails">
        <div class="card-skill__year">
          <h3 class="tl3">2016 рік</h3>
        </div>
        <div class="card-skill__info">
          <p>
            учасник<br />
            міжнародного проєкту<br />
            <a href="mailto:hysteroscopy.info">hysteroscopy.info</a>
          </p>
        </div>
      </li>

      <li class="card-skill" data-id="idDetails">
        <div class="card-skill__year">
          <h3 class="tl3">2018 рік</h3>
        </div>
        <div class="card-skill__info">
          <p>
            учасник<br />
            міжнародного проєкту<br />
            <a href="mailto:hysteroscopy.info">hysteroscopy.info</a>
          </p>
        </div>
      </li>

      <li class="card-skill" data-id="idDetails">
        <div class="card-skill__year">
          <h3 class="tl3">2020 рік</h3>
        </div>
        <div class="card-skill__info">
          <p>
            учасник<br />
            міжнародного проєкту<br />
            <a href="mailto:hysteroscopy.info">hysteroscopy.info</a>
          </p>
        </div>
      </li>

      <li class="card-skill" data-id="idDetails">
        <div class="card-skill__year">
          <h3 class="tl3">2022 рік</h3>
        </div>
        <div class="card-skill__info">
          <p>
            учасник<br />
            міжнародного проєкту<br />
            <a href="mailto:hysteroscopy.info">hysteroscopy.info</a>
          </p>
        </div>
      </li>
    </div>
  </div>
</section>
