<section class="inform pd2">
  <div class="inform__container">
    <div class="heading">
      <h2 class="tl1">Контактна інформація проєкту</h2>
    </div>

    <ul class="inform__cards">
      <li class="card-inform">
        <h3 class="card-inform__tl">Слідкуйте в соц. мережах:</h3>
        <ul class="card-inform__soc">
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <span><img src="./img/icons/soc_2.svg" alt="" /></span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <span><img src="./img/icons/soc_3.svg" alt="" /></span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <span><img src="./img/icons/soc_4.svg" alt="" /></span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <span><img src="./img/icons/soc_5.svg" alt="" /></span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <span><img src="./img/icons/soc_6.svg" alt="" /></span>
            </a>
          </li>
        </ul>
      </li>

      <li class="card-inform">
        <h3 class="card-inform__tl">Контактний телефон проєкту:</h3>
        <div class="card-inform__contact copyBox">
          <a href="tel:+0969328282" class="copyElem">(096) 932 8282</a>
          <button
            type="button"
            class="clipboard"
            data-copy="телефон скопійовано"
          >
            копіювати в буфер обміну
          </button>
        </div>
      </li>

      <li class="card-inform">
        <h3 class="card-inform__tl">Електронна пошта проєкта:</h3>
        <div class="card-inform__contact copyBox">
          <a href="mailto:info@gynecology.com.ua" class="copyElem">
            info@gynecology.com.ua
          </a>
          <button type="button" class="clipboard" data-copy="пошта скопійована">
            копіювати в буфер обміну
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
