<section class="others secwrapp bg-ce mr1">
  <div class="others__container">
    <div class="heading">
      <h2 class="tl1">Інші реалізовані проєкти</h2>
    </div>

    <ul class="implem__cards">
      <li class="card-project bg-cw">
        <div class="card-project__content">
          <a href="./project.html" class="tl2">Клініка доктора Медведева 1</a>
          <div class="txt-def rce">
            Наша адреса: м. Дніпро, вул. Святослава Хороброго, 60
          </div>
          <a href="./project.html" class="btn-def">Детальніше</a>
        </div>
        <div class="card-project__img">
          <img src="./img/content/proj_2.png" alt="" />
        </div>
      </li>
      <li class="card-project bg-cw">
        <div class="card-project__content">
          <a href="./project.html" class="tl2">Клініка доктора Медведева 2</a>
          <div class="txt-def rce">
            Наша адреса: м. Дніпро, проспект Олександра Поля, 25
          </div>
          <a href="./project.html" class="btn-def">Детальніше</a>
        </div>
        <div class="card-project__img">
          <img src="./img/content/proj_3.png" alt="" />
        </div>
      </li>
    </ul>
  </div>
</section>
