<div class="breadcrumbs">
  <div class="breadcrumbs__container wide">
    <ul>
      <li><a href="./index.html">Головна</a></li>
      <li><a href="./projects.html">Проєкти</a></li>
      <li><span>Платформа для лікарів</span></li>
    </ul>
  </div>
</div>

<section class="project sechero pd1">
  <div class="project__container">
    <div class="sechero__body">
      <div class="sechero__content">
        <h1 class="tl1">Платформа для лікарів</h1>
        <div class="txt-def rce">
          <p>
            KDM CME Project — це інтерактивна платформа, створена для професійного
            розвитку лікарів, зокрема акушерів-гінекологів. Заснована у 2016 році,
            платформа вже провела понад 200 освітніх заходів, спрямованих на
            підвищення кваліфікації медичних фахівців.
          </p>
          <p>
            Усі заходи на платформі передбачають отримання балів безперервного
            професійного розвитку (БПР). Особливістю платформи є інтерактивний
            формат та відкриті дискусії, що сприяють глибшому засвоєнню матеріалу.
          </p>
        </div>
      </div>

      <div class="sechero__addition">
        <div class="txt-def rce">
          <p>
            На платформі регулярно проводяться онлайн майстер-класи та
            конференції, присвячені актуальним темам у сфері акушерства та
            гінекології. В фокусі шийкова лейоміома", де буде детально розглянуто
            сучасні методи діагностики та лікування цієї патології.
          </p>
        </div>
        <a href="#" target="_blank" rel="noopener noreferrer" class="btn-def">
          Перейти на сайт проєкту
        </a>
      </div>

      <div class="sechero__img ibg">
        <img src="./img/content/project_1.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
