<section class="require pd2">
  <div class="require__container">
    <div class="require__body">
      <div class="require__content">
        <h2 class="tl3 cw">
          Проєкт відповідає вимогам Міністерства охорони здоров'я України та є
          офіційним провайдером освітніх послуг
        </h2>
        <div class="txt-def">
          <p>
            Проєкт акредитований МОЗ України, що гарантує якість безперервної
            медичної освіти для лікарів.
          </p>
        </div>
      </div>

      <div class="require__img">
        <img src="./img/content/require_1.png" alt="" />
      </div>
    </div>
  </div>
</section>
