<div class="breadcrumbs">
  <div class="breadcrumbs__container wide">
    <ul>
      <li><a href="./index.html">Головна</a></li>
      <li><a href="./news.html">Новини</a></li>
      <li>
        <span>
          Майстер-клас у Києві: сучасні методи гінекологічної хірургії
        </span>
      </li>
    </ul>
  </div>
</div>

<section class="event pd1">
  <div class="event__container">
    <div class="event__body">
      <div class="event__main">
        <h1>Майстер-клас у Києві: сучасні методи гінекологічної хірургії</h1>

        <div class="event__actions">
          <ul class="event__type">
            <li>робота</li>
          </ul>
          <p class="event__date">Опубліковано: 30 березня 2022</p>
        </div>

        <p>
          Нещодавно я провів майстер-клас у Києві, де поділився своїм досвідом
          та найновішими методиками в гінекологічній хірургії. Головний акцент
          заходу – малоінвазивні втручання, які дозволяють значно скоротити
          період реабілітації та мінімізувати ризики для пацієнток.
        </p>

        <div class="event__img">
          <img src="./img/content/event_1.jpg" alt="" />
        </div>

        <p>
          Під час майстер-класу ми розглянули новітні підходи до лапароскопічних
          і гістероскопічних операцій, обговорили складні клінічні випадки та
          провели показову операцію в режимі реального часу. Особлива увага була
          приділена техніці хірургічного лікування міоми матки та ендометріозу.
        </p>
        <p>
          Захід зібрав лікарів з різних міст України, які мали можливість не
          лише спостерігати за операційними техніками, а й поставити запитання
          щодо особливостей їх застосування у практиці. Для мене важливо не лише
          вдосконалювати власні навички, а й передавати знання колегам, адже
          розвиток медицини – це постійний обмін досвідом.
        </p>
        <p>
          Дякую всім учасникам за активність, цікаві питання та бажання
          вдосконалюватися! Попереду ще багато зустрічей та майстер-класів у
          різних містах та країнах. До нових зустрічей
        </p>

        <div class="event__images">
          <div><img src="./img/content/hero_4.jpg" alt="" /></div>
          <div><img src="./img/content/hero_2.jpg" alt="" /></div>
        </div>

        <p>
          Нещодавно я провів майстер-клас у Києві, де поділився своїм досвідом
          та найновішими методиками в гінекологічній хірургії. Головний акцент
          заходу – малоінвазивні втручання, які дозволяють значно скоротити
          період реабілітації та мінімізувати ризики для пацієнток.
        </p>

        <div class="event__social">
          <p>Поділитись новиною:</p>

          <ul class="actions__soc">
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <span><img src="./img/icons/soc_3.svg" alt="" /></span>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <span><img src="./img/icons/soc_4.svg" alt="" /></span>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <span><img src="./img/icons/soc_5.svg" alt="" /></span>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <span><img src="./img/icons/soc_7.svg" alt="" /></span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="event__aside">
        <h2 class="aside__tl">Інші події та новини</h2>

        <ul class="aside__cards">
          <li class="card-news">
            <div class="card-news__img ibg">
              <img src="./img/content/hero_1.jpg" alt="" />
              <ul class="card-news__type">
                <li>відпочинок</li>
              </ul>
            </div>

            <a href="./event.html" class="tl3">
              Відпочинок для мозку: чому варто спробувати цифровий детокс
            </a>

            <div class="txt-def rce">
              <p>
                Професор Михайло Медведєв презентував свою нову книгу,
                присвячену сучасним методам лікування лейоміоми матки.
              </p>
            </div>

            <a href="./event.html" class="link-def">Читати далі</a>
          </li>

          <li class="card-news">
            <div class="card-news__img ibg">
              <img src="./img/content/hero_2.jpg" alt="" />
              <ul class="card-news__type">
                <li>відпочинок</li>
              </ul>
            </div>

            <a href="./event.html" class="tl3">
              Відпочинок для мозку: чому варто спробувати цифровий детокс
            </a>

            <div class="txt-def rce">
              <p>
                Професор Михайло Медведєв презентував свою нову книгу,
                присвячену сучасним методам лікування лейоміоми матки.
              </p>
            </div>

            <a href="./event.html" class="link-def">Читати далі</a>
          </li>

          <li class="card-news">
            <div class="card-news__img ibg">
              <img src="./img/content/hero_3.jpg" alt="" />
              <ul class="card-news__type">
                <li>відпочинок</li>
              </ul>
            </div>

            <a href="./event.html" class="tl3">
              Відпочинок для мозку: чому варто спробувати цифровий детокс
            </a>

            <div class="txt-def rce">
              <p>
                Професор Михайло Медведєв презентував свою нову книгу,
                присвячену сучасним методам лікування лейоміоми матки.
              </p>
            </div>

            <a href="./event.html" class="link-def">Читати далі</a>
          </li>
        </ul>

        <a href="./index.html" class="btn-def">Всі новини</a>
      </div>
    </div>
  </div>
</section>
