.header__body {
  .actions__soc {
    flex-shrink: 0;
    display: flex;
    gap: 0.3125rem;
    margin-right: 2.5rem;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3.125rem;
      height: 3.125rem;
      border: 0.0625rem solid var(--cg);
      border-radius: 50%;
      background-color: rgba(58, 181, 74, 0.1);
      transition: all 0.15s ease-in;
      span {
        width: 1.25rem;
        img {
          transition: all 0.15s ease-in;
          width: 100%;
          filter: brightness(0) saturate(100%) invert(75%) sepia(7%) saturate(6949%) hue-rotate(71deg) brightness(84%)
            contrast(69%);
        }
      }
      &:hover {
        background-color: var(--cg);
        span {
          img {
            filter: brightness(0) saturate(100%) invert(98%) sepia(3%) saturate(4%) hue-rotate(238deg) brightness(120%)
              contrast(100%);
          }
        }
      }
    }
  }
}

.actions__lang {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0 0.875rem;
  margin-left: 2.5rem;
  & > li,
  & > li > a {
    display: flex;
    align-items: center;
    gap: 0 0.4375rem;
    &.current-lang {
      a {
        color: var(--cm);
      }
      & > span,
      & > a > img,
      & span > img {
        display: block !important;
      }
    }
    & > span:first-child {
      display: none;
      flex-shrink: 0;
      width: 1.0625rem;
      img {
        width: 100% !important;
        height: auto !important;
      }
    }
    img {
      width: 1.0625rem !important;
      height: auto !important;
      display: none;
    }
  }
  a {
    display: block;
    color: rgba(6, 8, 19, 0.6);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: normal;
    transition: all 0.15s ease-in;
    &:hover {
      color: var(--cm);
    }
  }
}

@media screen and (max-width: 768px) {
  .header__body {
    .actions__soc {
      margin-right: 1.75rem;
    }
    .actions__lang {
      display: none;
    }
  }

  .header__bottom {
    .actions__lang {
      & > li {
        &.current-lang {
          a {
            opacity: 1;
            color: var(--cw);
          }
        }
      }
      a {
        color: var(--cw);
        font-size: 0.875rem;
        font-weight: 600;
        opacity: 0.6;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .header__body {
    .actions__soc {
      display: none;
    }
  }

  .mobmenu {
    .btn-def {
      margin: 0 auto;
      font-size: 1rem;
      padding: 0.8125rem 1.5rem;
    }
    .actions__soc {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0.3125rem;
      margin-top: 3.125rem;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.125rem;
        height: 3.125rem;
        border: 0.0625rem solid var(--cw);
        border-radius: 50%;
        background-color: var(--rch);
        span {
          width: 1.25rem;
          img {
            width: 100%;
            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(310deg) brightness(102%)
              contrast(104%);
          }
        }
      }
    }
    .actions__lang {
      color: var(--cw);
      margin: 0;
      justify-content: center;
      margin-top: 3.125rem;
      & > li {
        &.current-lang {
          a {
            opacity: 1;
            color: var(--cw);
          }
          & > span {
            display: block;
          }
        }
      }
      a {
        color: var(--cw);
        opacity: 0.6;
      }
    }
  }
}
