<nav class="navmenu">
  <ul class="navmenu__list">
    <li class="menu-item current-menu-item"><a href="#">Про мене</a></li>
    <li class="menu-item menu-item-has-children">
      <a href="#">Проєкти</a>
      <ul class="sub-menu">
        <li>
          <a href="#">Наукова робота</a>
        </li>
        <li>
          <a href="#">Лікувальна діяльність</a>
        </li>
        <li>
          <a href="#">Освітня діяльність</a>
        </li>
        <li>
          <a href="#">Бізнес</a>
        </li>
      </ul>
    </li>
    <li class="menu-item"><a href="#">Новини</a></li>
    <li class="menu-item menu-item-has-children">
      <a href="#">Діяльність</a>
      <ul class="sub-menu">
        <li>
          <a href="#">Наукова робота</a>
        </li>
        <li>
          <a href="#">Лікувальна діяльність</a>
        </li>
        <li>
          <a href="#">Освітня діяльність</a>
        </li>
        <li>
          <a href="#">Бізнес</a>
        </li>
      </ul>
    </li>
    <li class="menu-item"><a href="#">Контакти</a></li>
  </ul>
</nav>
