<ul class="actions__soc">
  <li>
    <a href="#" target="_blank" rel="noopener noreferrer">
      <span><img src="./img/icons/soc_1.svg" alt="" /></span>
    </a>
  </li>
  <li>
    <a href="#" target="_blank" rel="noopener noreferrer">
      <span><img src="./img/icons/soc_2.svg" alt="" /></span>
    </a>
  </li>
  <li>
    <a href="#" target="_blank" rel="noopener noreferrer">
      <span><img src="./img/icons/soc_3.svg" alt="" /></span>
    </a>
  </li>
  <li>
    <a href="#" target="_blank" rel="noopener noreferrer">
      <span><img src="./img/icons/soc_4.svg" alt="" /></span>
    </a>
  </li>
  <li>
    <a href="#" target="_blank" rel="noopener noreferrer">
      <span><img src="./img/icons/soc_5.svg" alt="" /></span>
    </a>
  </li>
  <li>
    <a href="#" target="_blank" rel="noopener noreferrer">
      <span><img src="./img/icons/soc_6.svg" alt="" /></span>
    </a>
  </li>
</ul>
