.confern__body {
  .tl1 {
    text-align: center;
    margin-bottom: 4.25rem;
  }
}
.confern__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.confern__map {
  width: 100%;
  max-width: 100%;
}

.confern__splide {
  margin-top: -8.5625rem;
  position: relative;
  z-index: 5;
  width: 34.125rem;

  .splide__slide {
    border-radius: 1.25rem;
    background-color: var(--cf);
    padding: 1.5625rem 1.875rem;
    color: var(--cw);

    .txt-def {
      color: var(--cw);
    }
  }

  .arrows__prev,
  .arrows__next {
    position: absolute;
    top: 50%;
  }
  .arrows__prev {
    left: -1.25rem;
    transform: translateY(-50%) translateX(-100%);
  }
  .arrows__next {
    right: -1.25rem;
    transform: translateY(-50%) translateX(100%);
  }
}
.confern__name {
  font-weight: 700;
  margin-bottom: 0.4375rem;
}

@media screen and (max-width: 768px) {
  .confern__body {
    .tl1 {
      margin-bottom: 2.875rem;
    }
  }

  .confern__map {
    width: 54.8125rem;
    max-width: 54.8125rem;
  }
  .confern__splide {
    margin-top: -3.875rem;
  }
}

@media screen and (max-width: 365px) {
  .confern__body {
    .tl1 {
      text-align: start;
      margin-bottom: 2.5rem;
    }
  }
  .confern__map {
    width: 65.625rem;
    max-width: 65.625rem;
    transform: translateX(-8%);
  }

  .confern__splide {
    margin-top: -10.625rem;
    width: 15.125rem;

    .splide__slide {
      border-radius: 0.625rem;
      padding: 1.25rem 1.5625rem;
    }

    .arrows__prev {
      left: -0.4375rem;
    }
    .arrows__next {
      right: -0.4375rem;
    }
  }
  .confern__name {
    font-size: 0.875rem;
    margin-bottom: 0.5625rem;
  }
}
