.breadcrumbs {
  padding: 2.1875rem 0;
  ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.2rem 1.125rem;
    li {
      display: flex;
      align-items: center;
      line-height: 1.6;
      color: var(--rce);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 5rem;

      &:first-child {
        overflow: visible;
        text-overflow: clip;
        min-width: auto;
      }
      &:last-child {
        &::after {
          display: none;
        }
        span,
        a {
          color: var(--cm);
          margin-right: 0;
        }
      }
      span,
      a {
        margin-right: 1.125rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 0.15s ease-in;
      }
      a {
        &:hover {
          color: var(--cm);
        }
      }
      &::after {
        content: "/";
      }
    }
  }
}

.arrows__prev,
.arrows__next {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cg);
  border-radius: 50%;
  width: 4.0625rem;
  height: 4.0625rem;
  transition: all 0.15s ease-in;
  &::before {
    content: "";
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    background-size: 1rem 1rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: var(--vecUpWhite);
  }
  &:hover {
    background-color: var(--cg2);
  }
  &.isDisabled {
    cursor: no-drop !important;
    opacity: 0.5 !important ;
    background-color: var(--cg) !important;
  }
}
.arrows__prev {
  &::before {
    transform: rotate(-90deg);
  }
}
.arrows__next {
  &::before {
    transform: rotate(90deg);
  }
}

.pagination__wrapp {
  margin-top: 4.375rem;
  & > div {
    display: flex;
    justify-content: end;
    .facetwp-pager {
      display: flex;
      align-items: center;
      gap: 0 0.3125rem;
      .facetwp-page {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3125rem;
        line-height: normal;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: 0.0625rem solid var(--cw);
        transition: all 0.15s ease-in;
        &:hover {
          background-color: transparent;
          border-color: var(--cg);
        }
        &.active {
          border-color: var(--cg) !important;
          color: var(--cw) !important;
          background-color: var(--cg) !important;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .breadcrumbs {
    padding: 1.5625rem 0;
  }

  .pagination__wrapp {
    margin-top: 3.5rem;
    & > div {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 480px) {
  .breadcrumbs {
    padding: 1.25rem 0;
    ul {
      li {
        span,
        a {
          font-size: 0.875rem;
        }
      }
    }
  }

  .arrows__prev,
  .arrows__next {
    width: 3.125rem;
    height: 3.125rem;
  }

  .pagination__wrapp {
    margin-bottom: 2.25rem;
    & > div {
      .facetwp-pager {
        gap: 0;
        .facetwp-page {
          width: 2.8125rem;
          height: 2.8125rem;
          &:hover {
            background-color: transparent;
            border-color: transparent;
          }
        }
      }
    }
  }
}
