.secwrapp {
  padding: 5.625rem 0 6.25rem 0;
  border-radius: 6.25rem 6.25rem 0 0;
  background-color: var(--cw);
  position: relative;
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    transform: translateY(99%);
    width: 100%;
    height: 9.375rem;
    background-color: var(--cw);
  }
  &.bg-cf {
    background-color: var(--cf);
    color: var(--cw);
    &::after {
      background-color: var(--cf);
    }
  }
  &.bg-ce {
    background-color: var(--ce);
    &::after {
      background-color: var(--ce);
    }
  }
}

.pd1 {
  padding-top: 3.5rem;
}

.heading {
  padding-bottom: 1.875rem;
}

.tl1,
.tl2,
.tl3 {
  display: block;
  font-weight: 700;
  &.cw {
    color: var(--cw);
  }
}
.tl1 {
  font-size: 2.5rem;
}
.tl2 {
  font-size: 1.625rem;
}
.tl3 {
  font-size: 1.5rem;
}

.txt-def {
  display: flex;
  flex-direction: column;
  gap: 0.875rem 0;
  font-weight: 600;
  color: var(--rcy2);
  &.rce {
    color: var(--rce);
  }
}

.btn-def {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0 0.75rem;
  width: fit-content;
  text-align: center;
  border-radius: 6.25rem;
  background-color: var(--cg);
  border: 0.0625rem solid var(--cg);
  color: var(--cw);
  font-weight: 700;
  line-height: normal;
  padding: 1.3438rem 2.125rem;
  transition: all 0.15s ease-in;

  &.btn-ico {
    span {
      width: 1rem;
      transition: all 0.15s ease-in;
      img {
        width: 100%;
      }
    }
  }

  &.bg-rch {
    border-color: var(--cw);
    background: var(--rch);
  }
  &.bg-cw {
    background-color: var(--cw);
    color: var(--cg);
    border-color: var(--cw);
  }
  &:hover {
    opacity: 0.8;
  }
}

.link-def {
  width: fit-content;
  display: block;
  color: var(--cg);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.6;
  transition: all 0.15s ease-in;
  &:hover {
    text-decoration-line: underline;
    text-underline-position: from-font;
  }
}

@media screen and (max-width: 768px) {
  .secwrapp {
    padding: 5rem 0 5.625rem 0;
    border-radius: 1.875rem 1.875rem 0 0;
    &::after {
      height: 8.75rem;
    }
  }

  .pd1 {
    padding-top: 3.125rem;
  }

  .heading {
    padding-bottom: 2.25rem;
  }

  .tl1 {
    font-size: 1.875rem;
  }
  .tl2,
  .tl3 {
    font-size: 1.3125rem;
  }

  .txt-def {
    font-size: 0.875rem;
  }

  .btn-def {
    gap: 0 0.625rem;
    padding: 1.1875rem 2.125rem;

    &.size-min {
      padding: 0.8125rem 2.125rem;
    }
  }
}

@media screen and (max-width: 365px) {
  .secwrapp {
    padding: 4.375rem 0 5rem 0;
    &::after {
      height: 8.125rem;
    }
  }

  .pd1 {
    padding-top: 2.25rem;
  }

  .heading {
    padding-bottom: 2.125rem;
  }

  .tl1 {
    font-size: 1.5rem;
  }
  .tl2,
  .tl3 {
    font-size: 1.125rem;
  }

  .btn-def {
    font-size: 0.875rem;

    &.btn-ico {
      span {
        width: 0.75rem;
      }
    }
    &.size-min {
      padding: 0.8125rem 1.5rem;
    }
  }

  .link-def {
    font-size: 1rem;
  }
}
