<section class="covers pd2">
  <div class="covers__container">
    <div class="heading">
      <h2 class="tl1 cw">
        Моя професійна діяльність охоплює
        <span>
          наукові дослідження, клінічну практику, освітню та підприємницьку
          діяльність.
        </span>
      </h2>
    </div>

    <ul class="covers__cards">
      <li class="card-activ bg-rch">
        <span class="card-activ__up"></span>
        <a href="./activity.html" class="tl2">Наукова робота</a>
        <div class="txt-def">
          <p>
            Моя наукова діяльність спрямована на дослідження новітніх методів
            лікування, впровадження сучасних медичних технологій та розробку
            ефективних підходів до діагностики й терапії
          </p>
        </div>
      </li>
      <li class="card-activ bg-rch">
        <span class="card-activ__up"></span>
        <a href="./activity.html" class="tl2">Лікувальну діяльність</a>
        <div class="txt-def">
          <p>
            Моя практика базується на принципах доказової медицини та
            найсучасніших підходах до діагностики й лікування.
          </p>
        </div>
      </li>
      <li class="card-activ bg-rch">
        <span class="card-activ__up"></span>
        <a href="./activity.html" class="tl2">Освітня діяльність</a>
        <div class="txt-def">
          <p>
            Я активно працюю в напрямку просвітницької діяльності, аби надати
            людям знання та інструменти для самопіклування та профілактики
            захворювань.
          </p>
        </div>
      </li>
      <li class="card-activ bg-rch">
        <span class="card-activ__up"></span>
        <a href="./activity.html" class="tl2">Бізнес діяльність</a>
        <div class="txt-def">
          <p>
            Мої ініціативи охоплюють не тільки розробку медичних сервісів, але й
            розвиток технологій для дистанційного консультування, онлайн-освіти
            в медицині та автоматизації процесів у лікувальних закладах
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
