<section class="current secwrapp">
  <div class="current__container">
    <div class="heading">
      <h2 class="tl1">Актуальні події та новини від доктора Медведєва</h2>
    </div>

    <!-- на планшеті та телефоні зникає остання картка -->
    <ul class="current__cards">
      <li class="card-news">
        <div class="card-news__img ibg">
          <img src="./img/content/hero_1.jpg" alt="" />
          <ul class="card-news__type">
            <li>навчання</li>
          </ul>
        </div>

        <a href="./event.html" class="tl3">
          Участь у міжнародній конференції з репродуктивної медицини
        </a>

        <div class="txt-def rce">
          <p>
            Професор Михайло Медведєв презентував свою нову книгу, присвячену
            сучасним методам лікування лейоміоми матки.
          </p>
        </div>

        <a href="./event.html" class="link-def">Читати далі</a>
      </li>

      <li class="card-news">
        <div class="card-news__img ibg">
          <img src="./img/content/hero_2.jpg" alt="" />
          <ul class="card-news__type">
            <li>робота</li>
          </ul>
        </div>

        <a href="./event.html" class="tl3">
          Нові технології у медицині: штучний інтелект допомагає лікарям
        </a>

        <div class="txt-def rce">
          <p>
            Інноваційні розробки у сфері медицини невпинно змінюють підхід до
            лікування пацієнтів.
          </p>
        </div>

        <a href="./event.html" class="link-def">Читати далі</a>
      </li>

      <li class="card-news">
        <div class="card-news__img ibg">
          <img src="./img/content/hero_3.jpg" alt="" />
          <ul class="card-news__type">
            <li>відпочинок</li>
          </ul>
        </div>

        <a href="./event.html" class="tl3">
          Відпочинок для мозку: чому варто спробувати цифровий детокс
        </a>

        <div class="txt-def rce">
          <p>
            Сучасна людина проводить у гаджетах понад 7 годин на день, що
            негативно впливає на психічне здоров’я, рівень стресу та якість сну.
          </p>
        </div>

        <a href="./event.html" class="link-def">Читати далі</a>
      </li>
    </ul>
  </div>
</section>
