<section class="dossier">
  <div class="dossier__container">
    <div class="dossier__body">
      <div class="dossier__content">
        <h2 class="tl1 cw">Михайло Володимирович Медведєв</h2>
        <div class="txt-def">
          <p>
            Акушер-гінеколог вищої категорії, доктор медичних наук, професор
            кафедри акушерства та гінекології Дніпропетровського медичного
            університету. Заслужений лікар України та автор понад 200 наукових
            праць, 11 патентів і 2 монографій.
          </p>
          <p>
            Великий досвід професійної діяльності науковця та лікаря,
            багатогранна участь у міжнародних клінічних дослідженнях та наукових
            конференціях, створення приватної клініки. У 2018 році він заснував
            "Клініку доктора Медведєва", яка спеціалізується на наданні
            висококваліфікованої медичної допомоги та впровадженні передових
            технологій у гінекології.
          </p>
          <p>
            Регулярну проводжу майстер-класи та лекції для лікарів по всьому
            світу, від Києва до Нью-Йорка, Парижа та Барселони. Мої сертифікати
            та високий рівень володіння англійською мовою дозволяють бути на
            передовій світової медицини, постійно інтегруючи найновіші наукові
            досягнення у свою практику.
          </p>
        </div>
        <a href="./about.html" class="btn-def">Більше інформації про мене</a>
      </div>

      <div class="dossier__img ibg">
        <img src="./img/content/dossier_1.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
