<div class="secwrapp bg-cf">
  <section class="dossier">
    <div class="dossier__container">
      <div class="dossier__body">
        <div class="dossier__content">
          <h2 class="tl1 cw">Михайло Володимирович Медведєв</h2>
          <div class="txt-def">
            <p>
              Акушер-гінеколог вищої категорії, доктор медичних наук, професор
              кафедри акушерства та гінекології Дніпропетровського медичного
              університету. Заслужений лікар України та автор понад 200 наукових
              праць, 11 патентів і 2 монографій.
            </p>
            <p>
              Великий досвід професійної діяльності науковця та лікаря,
              багатогранна участь у міжнародних клінічних дослідженнях та
              наукових конференціях, створення приватної клініки. У 2018 році
              він заснував "Клініку доктора Медведєва", яка спеціалізується на
              наданні висококваліфікованої медичної допомоги та впровадженні
              передових технологій у гінекології.
            </p>
            <p>
              Регулярну проводжу майстер-класи та лекції для лікарів по всьому
              світу, від Києва до Нью-Йорка, Парижа та Барселони. Мої
              сертифікати та високий рівень володіння англійською мовою
              дозволяють бути на передовій світової медицини, постійно
              інтегруючи найновіші наукові досягнення у свою практику.
            </p>
          </div>
          <a href="./about.html" class="btn-def">Більше інформації про мене</a>
        </div>

        <div class="dossier__img ibg">
          <img src="./img/content/dossier_1.jpg" alt="" />
        </div>
      </div>
    </div>
  </section>

  <section class="covers">
    <div class="covers__container">
      <div class="heading">
        <h2 class="tl1 cw">
          Моя професійна діяльність охоплює
          <span>
            наукові дослідження, клінічну практику, освітню та підприємницьку
            діяльність.
          </span>
        </h2>
      </div>

      <ul class="covers__cards">
        <li class="card-activ bg-rch">
          <span class="card-activ__up"></span>
          <a href="./activity.html" class="tl2">Наукова робота</a>
          <div class="txt-def">
            <p>
              Моя наукова діяльність спрямована на дослідження новітніх методів
              лікування, впровадження сучасних медичних технологій та розробку
              ефективних підходів до діагностики й терапії
            </p>
          </div>
        </li>
        <li class="card-activ bg-rch">
          <span class="card-activ__up"></span>
          <a href="./activity.html" class="tl2">Лікувальну діяльність</a>
          <div class="txt-def">
            <p>
              Моя практика базується на принципах доказової медицини та
              найсучасніших підходах до діагностики й лікування.
            </p>
          </div>
        </li>
        <li class="card-activ bg-rch">
          <span class="card-activ__up"></span>
          <a href="./activity.html" class="tl2">Освітня діяльність</a>
          <div class="txt-def">
            <p>
              Я активно працюю в напрямку просвітницької діяльності, аби надати
              людям знання та інструменти для самопіклування та профілактики
              захворювань.
            </p>
          </div>
        </li>
        <li class="card-activ bg-rch">
          <span class="card-activ__up"></span>
          <a href="./activity.html" class="tl2">Бізнес діяльність</a>
          <div class="txt-def">
            <p>
              Мої ініціативи охоплюють не тільки розробку медичних сервісів, але
              й розвиток технологій для дистанційного консультування,
              онлайн-освіти в медицині та автоматизації процесів у лікувальних
              закладах
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>
