<section class="hero">
  <div class="hero__bg ibg no-select">
    <img src="./img/decor/hero_bg.png" alt="" />
  </div>

  <div class="hero__container">
    <div class="hero__body">
      <div class="hero__content">
        <h1 class="tl1 cw">
          Лікар. Вчений. Бізнесмен.<br />
          Ваш партнер у медицині та інноваціях
        </h1>
        <div class="txt-def">
          <p>
            Моє покликання – допомагати людям. Як практикуючий лікар, я дбаю про
            здоров’я пацієнтів. Як науковець, впроваджую інновації та ділюся
            знаннями, щоб змінювати медицину на краще. Як підприємець, я
            відкриваю нові можливості для розвитку сучасних медичних технологій.
          </p>
          <p>
            Моє покликання – допомагати людям. Як практикуючий лікар, я дбаю про
            здоров’я пацієнтів. Як науковець, впроваджую інновації та ділюся
            знаннями, щоб змінювати медицину на краще. Як підприємець, я
            відкриваю нові можливості для розвитку сучасних медичних технологій.
          </p>
        </div>
        <div class="hero__btns">
          <a href="./activity.html" class="btn-def">Діяльність</a>
          <a href="./contacts.html" class="btn-def bg-rch">Контакти</a>
        </div>
      </div>

      <div class="hero__gallery">
        <div class="hero__img">
          <div class="ibg">
            <img src="./img/content/hero_1.jpg" alt="" />
          </div>
          <div class="ibg">
            <img src="./img/content/hero_3.jpg" alt="" />
          </div>
        </div>
        <div class="hero__img">
          <div class="ibg">
            <img src="./img/content/hero_2.jpg" alt="" />
          </div>
          <div class="ibg">
            <img src="./img/content/hero_4.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
