<section class="implem">
  <div class="implem__container">
    <div class="heading">
      <h2 class="tl1">Реалізовані проєкти, що змінюють медицину</h2>
    </div>

    <ul class="implem__cards">
      <li class="card-implem">
        <div class="card-implem__content">
          <a href="./project.html" class="tl2">Платформа для лікарів</a>
          <div class="txt-def rce">
            Використовуємо інноваційні технології для створення унікальних
            рішень, адаптованих до потреб клієнта.
          </div>
          <a href="./project.html" class="btn-def">Детальніше</a>
        </div>
        <a href="./project.html" class="card-implem__img">
          <img src="./img/content/proj_1.png" alt="" />
        </a>
      </li>
      <li class="card-implem">
        <div class="card-implem__content">
          <a href="./project.html" class="tl2">Клініка доктора Медведева 1</a>
          <div class="txt-def rce">
            Наша адреса: м. Дніпро, вул. Святослава Хороброго, 60
          </div>
          <a href="./project.html" class="btn-def">Детальніше</a>
        </div>
        <a href="./project.html" class="card-implem__img">
          <img src="./img/content/proj_2.png" alt="" />
        </a>
      </li>
      <li class="card-implem">
        <div class="card-implem__content">
          <a href="./project.html" class="tl2">Клініка доктора Медведева 2</a>
          <div class="txt-def rce">
            Наша адреса: м. Дніпро, проспект Олександра Поля, 25
          </div>
          <a href="./project.html" class="btn-def">Детальніше</a>
        </div>
        <a href="./project.html" class="card-implem__img">
          <img src="./img/content/proj_3.png" alt="" />
        </a>
      </li>
    </ul>
  </div>
</section>
